@charset "UTF-8";
/* CSS Document */

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    /* min-height: 200vh; */
    height: 2485px;
    font: Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeInBackground 2s ease forwards;
    width: 100%;
    height: 100%;
    font: Helvetica, sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    
    line-height: 1;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 200px;
    padding-top: 100px;
}

/* SOCIAL MEDIA */
.social-icons {
    display: flex;
    justify-content: flex-end; /* Aligns content to the end (right) */
    align-items: flex-start; /* Centers items vertically */
    font-size: 50px;
    height: 100%;
}

.fa-instagram {
    color: whitesmoke;padding-bottom: 9px;
}
.fa-square-facebook {
    color: whitesmoke;
}

/* LOGO-NAVBAR */
.logo-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1.5%;
}

.logo-menu {
    justify-content: space-between;
}


/* LOGO */
.logo-menu > .logo, .logo-menu > .menu, .social-icons > .instagram, .social-icons > .facebook {
    text-align: center;
    color: whitesmoke;
}

.logo img {
    width: 56px;
    height: auto;
}

/* NAVBAR */
.sidebar {
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: width 0.5s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
    height: 500px;
}

.sidebar:hover .menu {
    visibility: visible;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 55px;
    background-color: whitesmoke;
    margin-top: 4px;
    margin-bottom: 4px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 55px;
}

.menu li {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sidebar:hover .menu li:nth-child(1) { transition-delay: 0.1s; opacity: 1; }
.sidebar:hover .menu li:nth-child(2) { transition-delay: 0.2s; opacity: 1; }
.sidebar:hover .menu li:nth-child(3) { transition-delay: 0.3s; opacity: 1; }
.sidebar:hover .menu li:nth-child(4) { transition-delay: 0.4s; opacity: 1; }
.sidebar:hover .menu li:nth-child(5) { transition-delay: 0.5s; opacity: 1; }

.menu li a {
    color: whitesmoke;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    opacity: 0.5;
}

.menu li a:hover {
    background-color: transparent;
    opacity: 1;
}


/* TITLE IN HEADER */
.title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.vertical-text-container {
    /* The container needs to be positioned to place the vertical text correctly. */
    position: relative;
    width: 100px; /* or the width you want for your vertical text area */
    height: 200px; /* or the height you need */
    display: flex;
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
}

.vertical-text {
    /* This will rotate the text 90 degrees counterclockwise */
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap; /* Ensures the text stays on one line */
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    position: fixed;
}






/* TITLE ANIMATION */
.title-animation {
    padding-top: 350px;
}

.title-animation p {
    line-height: 1;
    opacity: 0;
    transition: 5s ease-in-out;
    /* flex-wrap: wrap; */
}

.title-animation p.fade-in {
    opacity: 1;
}

#lumina {
    display: flex;
    align-self: flex-end;
}

#lumina span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    font-size: 120px;
    font-weight: 700;
}

#year {
    align-self: flex-start;
}

#year span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    font-size: 51px;
    font-weight: 400;
}

.degree-exhibition {
    font-weight: 150;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#lumina span:nth-child(1) { animation-delay: 0.5s; }
#lumina span:nth-child(2) { animation-delay: 1s; }
#lumina span:nth-child(3) { animation-delay: 1.5s; }
#lumina span:nth-child(4) { animation-delay: 2s; }
#lumina span:nth-child(5) { animation-delay: 2.5s; }
#lumina span:nth-child(6) { animation-delay: 3s; }


#year span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#year span:nth-child(1) { animation-delay: 3.5s; }
#year span:nth-child(2) { animation-delay: 4s; }





/* GALLERY: IMAGE CAROUSEL */

.gallery {
    padding-top: 600px;
    padding-bottom: 200px;
}


/* SHOWACASE */
  
.masonry-gallery {
    padding-top: 50px;
    /* Creates a gap between columns */
    column-gap: 16px;
    /* Creates a gap between rows */
    line-height: 0;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4;    /* Firefox */
    column-count: 4;         /* Standard syntax */
    padding-left: 4.5rem;
    padding-right: 5rem;
}



.gallery-item {
    /* ... */
    position: relative; /* Needed to position the text absolutely within the item */
    margin-bottom: 16px;
    break-inside: avoid;
}

.gallery-item img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.gallery-item .gallery-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 99%;
    font-weight: 700;
    color: white; /* Adjust text color as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    transition: opacity 0.3s ease;
    opacity: 1; /* Text is fully visible when not hovered */
}

.gallery-item:hover img {
    opacity: 1;
}

.gallery-item:hover .gallery-text {
    opacity: 0; /* Text disappears on hover */
}


@media (max-width: 1024px) {
    .masonry-gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .masonry-gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}




  /* FORM  */
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  

  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
  


    #contactForm {
        justify-content: space-around;
        width: 120%;
        align-items: baseline;
        padding-top: 10%;
        padding-bottom: 10%;
    }




/* INFO: FOOTNOTE */

.info {
    font: helvetica, sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    opacity: 1;
    text-align: left;
    padding: 0%;
    background: transparent;
}

.info-up, .info-down {
    display: flex;
    width: 100%;
}

.info-up > div, .info-down > div {
    flex: 1;
}

.info-separator {
    width: 100%;
    height: 1.5px;
    background-color: whitesmoke;
    margin: 0.5rem 0;
}



/* SCROLL ARROW */
.scroll-arrow {
    position: fixed;
    left: 50%;
    bottom: 20px;
    font-size: 40px;
    color: whitesmoke;
    transform: translateX(-50%);
}

a.icon-wrapper, a.icon-wrapper:visited, a.icon-wrapper:focus, a.icon-wrapper:active {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}

a.icon-wrapper:hover {
    opacity: 1;
}

#page-bottom {
    position: absolute;
    top: 2000px;
}

.content {
    padding-left: 2%;
    padding-right: 0%;
    justify-content: space-between;
}

.main-container {
    position: relative;
    padding-right: 5rem;
    padding-left:  4.5rem;
    
    z-index: 3;
}

.header,
.social-icons {
    
    z-index: 1000;
}

.card-cover{
    
    align-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
}







/* Mobile Devices */
@media (max-width: 768px) {
#lumina span {
    font-size: 40px;
}

#year span {
    font-size: 17px;
}

}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {


}



.carousel-item {
    height: 400px; /* Adjust height as needed */
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.exhibition-content {
    display: flex;
    flex-wrap: wrap;
}
.exhibition-description, .exhibition-carousel {
    flex: 1;
}
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .exhibition-description, .exhibition-carousel {
        flex-basis: 100%;
    }
}
