* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    min-height: 200vh;
    font: Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeInBackground 2s ease forwards;
    width: 100%;
    height: 100%;
    min-height: 200vh;
    font: Helvetica, sans-serif;
}

.container-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 200px;
    padding-top: 5%;
}

.logo-menu, .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo-menu {
    padding-top:1%;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
}

.fa-instagram {
    color: whitesmoke;
}
.fa-square-facebook {
    color: whitesmoke;
}

.logo-menu > .logo, .logo-menu > .menu, .social-icons > .instagram, .social-icons > .facebook {
    text-align: center;
    color: whitesmoke;
}

.logo img {
    width: 56px;
    height: auto;
}

.sidebar {
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: width 0.5s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
    height: 500px;
}

.sidebar:hover .menu {
    visibility: visible;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 55px;
    background-color: whitesmoke;
    margin: 4px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 55px;
}

.menu li {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sidebar:hover .menu li:nth-child(1) { transition-delay: 0.1s; opacity: 1; }
.sidebar:hover .menu li:nth-child(2) { transition-delay: 0.2s; opacity: 1; }
.sidebar:hover .menu li:nth-child(3) { transition-delay: 0.3s; opacity: 1; }
.sidebar:hover .menu li:nth-child(4) { transition-delay: 0.4s; opacity: 1; }
.sidebar:hover .menu li:nth-child(5) { transition-delay: 0.5s; opacity: 1; }

.menu li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    opacity: 0.5;
}

.menu li a:hover {
    background-color: transparent;
    opacity: 1;
}





.main-content {
    padding: 6%;
    padding-top: 20%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content p {
    opacity: 0;
    transition: 5s ease-in-out;
}

.main-content p.fade-in {
    opacity: 1;
}

.title-container {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 3%;
}

.subtitle-container {
    display: flex;
    align-items: center;
    padding-left: 33%;
}


#lumina span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    font-size: 120px;
    font-weight: 700;
}

#year span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    font-size: 51px;
    font-weight: 450;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#lumina span:nth-child(1) { animation-delay: 0.5s; }
#lumina span:nth-child(2) { animation-delay: 1s; }
#lumina span:nth-child(3) { animation-delay: 1.5s; }
#lumina span:nth-child(4) { animation-delay: 2s; }
#lumina span:nth-child(5) { animation-delay: 2.5s; }
#lumina span:nth-child(6) { animation-delay: 3s; }


#year span {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#year span:nth-child(1) { animation-delay: 3.5s; }
#year span:nth-child(2) { animation-delay: 4s; }





/* ... existing styles ... */

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    padding: 6%;
    padding-top: 15%;
    width: 50%;
    flex-direction: row;
}

.carousel-container {
    display: flex;
    justify-content: flex;
}

.carousel-caption {
    padding-right: 25%;
}

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    left: 132%;
}

.carousel-images img {
    max-width: 100%;
    display: none;
    height: auto; /* maintain aspect ratio */
}

.carousel-images img:first-child {
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
    .carousel-images img {
        width: 100%;
    }
}

.carousel-caption {
    text-align: right;
    
}











.info {
    font: helvetica, sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20%;
    opacity: 1;
    text-align: left;
    padding: 6%;
    padding-top: 10%;
    background: transparent;
}

.info-up, .info-down {
    display: flex;
    width: 100%;
}

.info-up > div, .info-down > div {
    flex: 1;
}

.info-separator {
    width: 100%;
    height: 1.5px;
    background-color: whitesmoke;
    margin: 0.5rem 0;
}



.scroll-arrow {
    position: fixed;
    left: 50%;
    bottom: 20px;
    font-size: 40px;
    color: whitesmoke;
    transform: translateX(-50%);
}

a.icon-wrapper, a.icon-wrapper:visited, a.icon-wrapper:focus, a.icon-wrapper:active {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}

a.icon-wrapper:hover {
    opacity: 1;
}

#page-bottom {
    position: absolute;
    top: 2000px;
}


.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.content {
    padding-left: 2%;
    padding-right: 0%;
    justify-content: space-between;
}